@font-face {
    font-family: lobster;
    src: url(./fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: cabin;
    src: url(./fonts/Cabin-Regular.ttf);
}
/* Elements */ /*{{{*/
h2 {
    font-family: cabin;
    color: #fff !important;
    text-shadow: 1px 1px 1px #3a3a3a !important;
    margin: 0.5em 0 !important;
}

h3 {
    font-family: cabin;
    color: #fff !important;
    text-shadow: 1px 1px 1px #3a3a3a !important;
    margin: 0 !important;
}

legend {
    font-family: cabin;
    color: #fff !important;
    text-shadow: 1px 1px 1px #3a3a3a !important;
}

input {
    font-family: cabin;
    font-weight: 800;
}

a {
    text-decoration: none !important;
}

body { 
    background-color: #178AAA !important;
}
/*}}}*/
/* Global Classes */ /*{{{*/
.ui-header {
    background-color: #0f5c71 !important;
    border-color: #0f5c71 !important;
    color: #fff !important;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headerWrapper {
    height: 4.2em;
}

.ui-footer { 
    background-color: #0f5c71 !important;
    border-style: none !important;
}

.ui-btn {
    font-family: cabin;
    border-color: #0f5c71 !important;
    text-shadow: 1px 1px 1px #444 !important;
    color: #fff !important;
}

.ui-selectmenu {
    border-color: #0f5c71 !important;
}

.ui-input-text {
    border-color: #0f5c71 !important;
}

.headerText {
    font-family: "lobster";
    font-size: 24px !important;
    text-shadow: 1px 1px 1px #3a3a3a;
}

.page {
    background-color: #178AAA !important;
}

.contentIcons {
    height: 125px;
    width: 125px;
}

.contentIconBackground {
    height: 175px;
    width: 175px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentLinks {
    color: #fff !important;
    font-family: "lobster";
    font-size: 24px;
    text-shadow: 1px 1px 1px #3a3a3a !important;
    width: 375px;
    height: 275px;
    box-shadow: -5px 5px 5px 1px #3a3a3a;
    justify-self: center;
    background-color: #1DAED7 !important;
    border-color: #1DAED7 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.coreContentLinks {
    color: #fff !important;
    font-family: "lobster";
    font-size: 24px;
    text-shadow: 1px 1px 1px #3a3a3a !important;
    width: 250px;
    height: 275px;
    box-shadow: -5px 5px 5px 1px #3a3a3a;
    justify-self: center;
    background-color: #1DAED7 !important;
    border-color: #1DAED7 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputTextFill {
    background-color: #c1272d !important;
    color: #fff !important;
    text-shadow: 1px 1px #444 !important;
    border-color: #931e22 !important;
}

.mainContent {
    padding: 0 3vw;
}

.gridContent {
    display: flex;
    justify-content: space-between;
}

.spinalContentContainer {
    width: 33%;
}
 
.threeTextInputContainer {
    width: 30%;
}

.contentContainer {
    width: 24%;
}

.fasciaHeader {
    margin: 0 !important;
}

/*}}}*/
/* Landing */ /*{{{*/
#appTitle {
    font-family: "lobster";
    font-size: 72px;
    text-shadow: 3px 3px 1px #3a3a3a !important;
    color: #fff !important;
}

#landing {
    background-color: #178AAA !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landingContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingIcon {
    height: 75px;
    width: 75px;
}

#landingIconBackground {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*}}}*/
/* Home */ /*{{{*/
#homeContent {
    margin: 0 3vw;
    display: grid;
    grid-template-areas:
    "head core"
    "arms legs";
}

#headLink {
    grid-area: head;
}
#coreLink {
    grid-area: core;
}
#armsLink {
    grid-area: arms;
}
#legsLink {
    grid-area: legs;
}
/*}}}*/
/* Level1 */ /*{{{*/
/* Head */ /*{{{*/
#headContent {
    margin: 0 3vw;
    display: grid;
    grid-template-areas:
    "limbic eyes"
    "head2 mandible";
}

#limbicLink {
    grid-area: limbic;
}
#eyesLink {
    grid-area: eyes;
}
#headLink2 {
    grid-area: head2;
}
#mandibleLink {
    grid-area: mandible;
}
/*}}}*/
/* Core */ /*{{{*/
#coreContent {
    display: grid;
    grid-template-areas:
    "cervical thoracic lumbar"
    "respiration stability hips";
}

#cervicalLink {
    grid-area: cervical;
}
#thoracicLink {
    grid-area: thoracic;
}
#lumbarLink {
    grid-area: lumbar;
}
#respirationLink {
    grid-area: respiration;
}
#stabilityLink {
    grid-area: stability;
}
#hipsLink {
    grid-area: hips;
}
/*}}}*/
/* Arms & Shoulders */ /*{{{*/
#armContent {
    display: grid;
    grid-template-areas:
    "scapula glenohumeral elbows"
    "wrists hands fingers";
}

#scapulaLink {
    grid-area: scapula;
}
#glenohumeralLink {
    grid-area: glenohumeral;
}
#elbowLink {
    grid-area: elbows;
}
#wristLink {
    grid-area: wrists;
}
#handLink {
    grid-area: hands;
}
#fingerLink {
    grid-area: fingers;
}
/*}}}*/
/* Legs */ /*{{{*/
#legsContent {
    display: grid;
    grid-template-areas:
    "knees ankles"
    "feet toes";
}

#tibiakneeLink {
    grid-area: knees;
}
#ankleLink {
    grid-area: ankles;
}
#footLink {
    grid-area: feet;
}
#toeLink {
    grid-area: toes;
}
/*}}}*/
/*}}}*/

#limbicContent {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.limbicButton {
    height: 25vh;
    width: 25vw;
}

.optionGreen {
    background-color: #009245 !important;
    color: #fff !important;
    text-shadow: 1px 1px #444 !important;
}
.optionOrange {
    background-color: #f7931e !important;
    color: #fff !important;
    text-shadow: 1px 1px #444 !important;
}
.optionRed {
    background-color: #c1272d !important;
    color: #fff !important;
    text-shadow: 1px 1px #444 !important;
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: #17AA81;
}
